<%- include("partials/header"); -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" required name="postTitle">
    <label>Post</label>
    <!-- <div id="editor"></div> -->
    <textarea class="form-control" type="text" required name="postBody" rows="5" cols="30" id="editor">
          <!-- <div id="editor">
      <p>put your content here</p>
    </div> -->
  </textarea>
  <br>
    <button class="btn btn-light" type="submit" name="button">Publish</button>
</form>
<script>
  ClassicEditor
    .create(document.querySelector('#editor'))
    .catch(error => {
      console.error(error);
    });
</script>

<%- include("partials/footer"); -%>